html, body{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    /*background-color: black;*/
    cursor: url('img/crosshair2.png')32 32, auto;
}
.mainbox{
    padding: inherit;
    margin: inherit;
    width: 300%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -100%;
    transition:left 1s;
    background-image: url('img/space6.jpg');
}

.box{
    position: relative;
    height: 100%;
    text-align: center;
}

#box1{
    flex: 1;
}
#box2{
    flex: 1;
}
#box3{
    flex: 1;
}

.bullet{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px white, 0 0 10px ;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
}

.touch{
    position: absolute;
    width: 400px;
    height: 400px;
}
@keyframes neon3 {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}

.target{
    position: absolute;
}
#target4{
    top: 40%;
    left: 60%;
}
.stitre{
    position: absolute;
    color: black;
    top: 50%;
    left: 77%;
    font-family: Iceland;
    font-size: 50px;
    animation: neon2 1.5s ease-in-out infinite alternate;
}
@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

.infos{
    position: absolute;
    top: 65%;
    left: 70%;
    width: 25%;
    display: none;
    color: white;
}
.txt{
    font-family: Iceland;
    font-size: 25px;
    text-shadow: 0 0 5px #228DFF;
}
